<%- include('../partials/header') %>
<%  if (user && user.role === 'seller') { %>
<h1>Seller name: <%= user.name %> </h1>


<% if (reviews.length) { %>
  <table>
    <thead>
      <tr>
        <th>Review</th>
        <th> Rating</th>
      </tr>
          
      </thead>
      <tbody>
      <% reviews.forEach((s)=>{ %>
        <tr>
          <td><%= s.description %></td>
          <td> <%= s.reviewRate %></td>
        </tr>
      <% }); %> 
          </tbody>
  </table>  
<% } %>

<%}%>

<%  if (user && user.role === 'buyer') { %>
  <h1>buyer name: <%= user.name %> </h1>
  

<form action="/account/<%= user._id %>/reviews" method="post">
 
  <textarea name="description" ></textarea>
  <input type="radio" name='reviewRate' value="1">1
  <input type="radio" name='reviewRate' value="2">2
  <input type="radio" name='reviewRate' value="3">3
  <input type="radio" name='reviewRate' value="4">4 
  <input type="radio" name='reviewRate' value="5">5
 <select name="seller_id">
  
  <%sellers.forEach((s) => {%>
    <option value="<%= s._id %>"><%= s.name%></option>
    

  <%})%>
 </select>
 <input type="submit" value="Add review">

</form>
<% if (reviews.length) { %>
  <table>
    <thead>
      <tr>
        <th>Review</th>
        <th> Rating</th>
      </tr>
          
      </thead>
      <tbody>
      <% reviews.forEach((s)=>{ %>
        <tr>
          <td><%= s.description %></td>
          <td> <%= s.reviewRate %></td>
        </tr>
      <% }); %> 
          </tbody>
  </table>  
<% } %>

<%}%>

  
  
  
<%- include('../partials/footer') %>