<%- include('../partials/header') %>

<div class="productDetails">

<div class="productDetailLeftDiv">
  <h1><%=productDetails.name%></h1>
  <img src="<%=productDetails.image%>" alt="<%=productDetails.name%>" style="width: 400px;">
  <div class="productTImesDiv">
<h4>End Date: </h4><h4><%=auctionDetails.endDate%></h4>
<h4>Time Left to Bid: </h4>
<h4 id="timeLeft"><%=timeLeft%></h4>
</div>


</div>
<div class="productDetailRightDiv">
  <%if(belongToUser){%>
    <div class="sellerEditDiv">
      <form action="/auction/<%=productDetails._id%>/edit" method="GET" autocomplete="off">
    <button class="sellerButton" id="sellerEditButton" type="submit">Edit</button></form>
    <form action="/auction/<%=productDetails._id%>/?_method=DELETE" method="POST" autocomplete="off">
    <button class="sellerButton" id="sellerDeleteButton" type="submit">Delete</button></form>
  </div>
    <%}%>
  <div class="biddingDiv">
  <%if(auctionDetails.highestBid){%>
  <h2>
Current Highest Bid:
 </h2>
<h3><%=auctionDetails.highestBid%>
  </h3>
  <%}else{%>
    <h2>Starting Bid:</h2>
    <h3><%=auctionDetails.startingBid%>
    <%}%>
  <%if(user&&user.role==='buyer'){%>
    <h2>Bid:</h2>
   <form action="../auction/bid/<%=auctionDetails._id%>?_method=PUT" method="POST" autocomplete="off">
    <input type="text" placeholder="Bid" name="bidPrice" id="bidPriceInput"><label> BHD</label>
    <button type="submit" class="add-bid" id="submitButton" disabled>Bid</button>
   </form> 
   <div id="errorMessage" style="display: none; color: rgb(248, 248, 248);"></div>
    <%}%>
  </div>
  <div class="detailsDiv">
    <h2>
      Details: 
    </h2>
    <h3><%=productDetails.description%></h3>
<h2>Seller:</h2>
<h3><%=sellerDetails.name%></h3>
  </div>
</div>
</div>





<script>
// for client side count down timer
let remainingTime = '<%= timeLeft %>';

function updateTimer() {
  let [hours, minutes, seconds] = remainingTime.split(':');
  let remainingSeconds = parseInt(hours) * 3600 + parseInt(minutes) * 60 + parseInt(seconds);
  remainingSeconds--;

  if (remainingSeconds < 0) {
    document.getElementById('timeLeft').textContent = 'Auction Ended';

    const submitButton = document.getElementById('submitButton');
    if (userType && userType === 'buyer') { 
    submitButton.disabled = true;
    }
  } else {
    let newHours = Math.floor(remainingSeconds / 3600);
    let newMinutes = Math.floor((remainingSeconds % 3600) / 60);
    let newSeconds = remainingSeconds % 60;

    let newTime = `${newHours.toString().padStart(2, '0')}:${newMinutes.toString().padStart(2, '0')}:${newSeconds.toString().padStart(2, '0')}`;
console.log(newTime)
    document.getElementById('timeLeft').innerText = newTime;

    remainingTime = newTime; // Update the remainingTime variable
  }
}
  updateTimer();
  setInterval(updateTimer, 1000);

  // for REGEX form Validation

  document.addEventListener('DOMContentLoaded', function() {
  let numberInput = document.getElementById('bidPriceInput');
  let submitButton = document.getElementById('submitButton');
  let errorMessage = document.getElementById('errorMessage');
if(numberInput){
  numberInput.addEventListener('input', function(event) {
    let inputValue = numberInput.value;
    let numberRegex = /^\d+(\.\d+)?$/;

    let isValidNumber = numberRegex.test(inputValue)
    let parsedInputValue = parseFloat(inputValue)
    let parsedStartingBid = parseFloat('<%=auctionDetails.startingBid%>')

    // if highest bid is greater than starting bid (there is a bid)
    if ('<%=auctionDetails.highestBid%>') {
      // set the starting bid to the highest (latest) bid
      parsedStartingBid = parseFloat('<%=auctionDetails.highestBid%>')
    }

    if (isValidNumber && (parsedInputValue > parsedStartingBid)) {
      submitButton.disabled = false;
      errorMessage.style.display = 'none';
    } else {
      submitButton.disabled = true;
      errorMessage.style.display = 'block';
      errorMessage.textContent = 'Invalid! Ensure it is a number higher than the current or starting bid.';
    }
  });}
});
</script>
<%- include('../partials/footer') %>